* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    color: #2a2f3a;
    font-family: 'M PLUS 1', sans-serif;
}
header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 20px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
.left {
    padding-left: 20px;
}
.logo {
    height: 18px;
    width: 120px;
}
header a {
    color: #1f242c;
}
header nav a {
    text-decoration: none;
    padding: 5px 15px;
}
.center {
    font-weight: 500;
    font-size: 14px;

    text-align: center;
}
.right {
    font-weight: 500;
    font-size: 14px;
    text-align: right;

}
.toggle {
    display: none;
}
@media (min-width: 1175px) {
    .toggle {
        display: initial;
    }
}

section {
    height: 100vh;
    background-size: cover;
    background-position: center center;
}
h2 {
    text-align: center;
    font-size: 40px;
    /* padding-top: 4%; */
    padding-top: 15vh;
}
p {
    text-align: center;
    font-size: 16px;
}
span {
    text-decoration: underline;
}
.model3 {
    font-size: 18px;
}
.content {
    width: 100%;
    height: 100vh;
    padding-bottom: 15vh;
    display: grid;
    grid-template-rows: min-content auto min-content;
}
.buttons {
    text-align: center;
    display: grid;
    row-gap: 18px;
    margin: 0 5%;
}
.buttons a:first-child {
    background-color: #444;
    color: #fff;
}
.buttons a {
    display: block;
    background-color: #eee;
    color: inherit;
    padding: 10px 50px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}
.last-button {
    text-align: center;
    display: grid;
    margin: 0 5%;
}
.last-button a{
    background-color: black;
    color: #fff;
    padding: 10px 50px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;

}
@media (min-width: 768px) {
    .buttons {
        max-width: 640px;
        margin: 0 auto;
        column-gap: 20px;
        grid-template-columns: 1fr 1fr;
        width: 600px;
    }
    .last-button {
        max-width: 640px;
        margin: 0 auto;
        width: 270px;
    }
}
aside {
    position: fixed;
    overflow: scroll;
    transition: right .6s ease;
    right: -320px;
    width: 320px;
    background-color: #fff;
    padding: 80px 40px;
    z-index: 4;
    height: 100vh;
}
aside.active {
    right: 0;
}
aside a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 12px 0;
    font-size: 14px;
    font-weight: 500;
}
aside button.close {
    cursor: pointer;
    font-size: 24px;
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    font-family: sans-serif;
    font-weight: 300;
}
.backdrop {
    position: fixed;
    display: none;
    inset: 0;
    background-color: rgba(0,0,0,.35);
    backdrop-filter: blur(5px);
}
.backdrop.active {
    display: block;
}
#footer {
    margin-bottom: 2%;
    text-align: center;
 }
 
.footer-link {
    color: black;
    text-decoration: none;
    margin-left: 8px;
    font-size: .8em;
    font-weight: 450;
    color: rgb(80, 80, 80);
}
 